/* Selector Universal */
*{
    box-sizing: border-box;
}

/* Selector de clase*/
.menu {
    color: #000000;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.imgSection {
    height: 250px;
    width: 340px;
    align-items: center;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 30px;
    margin-bottom: 50px;
    flex-direction: row;
}

.imgaside {
    width: 150px;
    height: 110px;
}

/* Selector de Etiqueta */
body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    display: inline;
    margin-right: 35px;
    margin-left: 35px;
}

li a:hover {
    cursor: pointer;
    color: red;

}

a {
    color: #000000;
    text-decoration: none;
}

footer{
    color: #E8E6E6;
    background-color: #5E5E4A;
    padding: 20px;
    text-align: center;
}

/* Selector Id */
#contenedor {
    width: 900px;
    height: 1200px;
    display: flex;
    flex-direction: column;
}

#encabezado {
    height: 70px;
    color: #BADA55;
    background-color: #B58A69;
    display: flex;
    flex-direction: column;
}

#contenido {
    color: #000000;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    background-color: #DEE5DE;
    text-align: justify;

}

#tituloSection {
    color: #000000;
    font-size: 22px;
    text-align: left;
}

#aside {
    font-size: 30px;
    color: #000000;
    background-color: #D7D7CB;
}

.botones {
    height: 30px;
    width: 140px;
    background-color: #000000;
    color: white;
    margin-left: 155px;
    margin-bottom: 25px;
    
}

@media screen and (max-width:650px) {

    nav,.menu {
        flex-direction: column;
    }
}